.osumsite {
color:#333333;
font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
font-size:11px;
margin:0;
min-width:1024px;
background-color: ;
}

.osumsite a {
color:#3B5998;
text-decoration:none;
}
.osumsite a:hover {
text-decoration:underline;
}
.osumsite img {
border:0 none;
}
.osumsite table {
border:0 none;
border-collapse:collapse;
border-spacing:0;
margin:0;
}
.osumsite table td, .osumsite table th {
border:0 none;
padding:0;
text-align:left;
vertical-align:top;
}
.osumsite table th {
font-weight:bold;
}
.osumsite h1, .osumsite h2, .osumsite h3, .osumsite h4 {
border:0 none;
margin:0;
padding:0;
}

.osumsite .clear {
clear:both;
}


.osumsite .body {
	width:981px;
	overflow:visible;
	position:relative;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	/*border-right:1px solid #B3B3B3;*/

}

.osumsite .body .content {
background:none repeat scroll 0 0 white;
border:1px solid #EAEAEA;
padding:25px;
}
.rtcontent{
	padding: 8px;
}

.osumsite .header, .osumsite .body, .osumsite .body p, .osumsite .body ul, .osumsite .body ol, .osumsite .body li, .osumsite .body th, .osumsite .body th, .osumsite .body td {
font-size:13px;
}
.osumsite .body pre, .osumsite .body p, .osumsite .body li, .osumsite .body dt, .osumsite .body dd, .osumsite .refindex .page, .osumsite .body textarea, .osumsite .body td {
line-height:18px;
}
.osumsite .body ol, .osumsite .body ul {
list-style-type:disc;
padding-left:3em;
}
.osumsite .body ol {
list-style-type:decimal;
}
.osumsite .body strong {
font-weight:bold;
}
.osumsite .body em, .osumsite .body i {
font-style:italic;
}
.osumsite .body h1 {
font-size:28px;
font-weight:normal;
margin:0 0 8px;
}
.osumsite .body h2 {
font-size:16px;
margin-bottom:8px;
margin-top:25px;
}
.osumsite .body h3 {
font-size:13px;
margin-bottom:2px;
margin-top:0;
}
.osumsite dl, .osumsite dt, .osumsite dd {
margin:0;
}
.osumsite .body dl, .osumsite .body table, .osumsite .body pre, .osumsite .body ul, .osumsite .body ol, .osumsite .body p {
margin:0 0 1em;
}
.osumsite .footer {
color:#777777;
margin-bottom:25px;
}
.osumsite .footer .content {
max-width:925px;
padding:10px;
}
.osumsite .footer .copyright {
float:left;
}
.osumsite .footer .links {
text-align:right;
}
.osumsite .footer .links a {
margin-left:15px;
}

.clearfix:after {
clear:both;
content:".";
display:block;
font-size:0;
height:0;
line-height:0;
visibility:hidden;
}

.clearfix {
display:block;
}

.osumsite .sidebar{
	overflow:visible;
	width:260px;
	float:right;
	position:relative;
	border:	#CCC 1px solid;
	background: #FFC;
}

.osumsite .page_wrap {
	float:left;
	width:700px;
	border: 1px solid #cccccc;

}

.osumsite .page_wrap .content {
	padding: 25px;

}

.osumsite .body img { padding: 20px;}

.inputtext, .inputpassword {
margin:0;
padding-bottom:4px;
}


textarea, .inputtext, .inputpassword {
border:1px solid #BDC7D8;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:11px;
padding:3px;
}

.focusField {
	color: #000;
	border:solid 2px #73A6FF;
	
}

.idleField {
	color: #6F6F6F;
	border: solid 2px #DFDFDF;
	
		
}

.osumsite .latest {
      border: solid 1px #9af26e;
      background-color: #fefef1;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 8px;
      padding-right: 8px;
}