#header { clear:both; height:416px; border-bottom: #093 solid 5px; }
#sky {
	position:absolute;
	width:100%;
	height: 416px;
	background: transparent url(../images/sky.jpg) 0 0px repeat-x;
}
#city2 {
	position: absolute;
	width: 100%;
	height: 416px;
	background: transparent url(../images/city2.png) 0 130px repeat-x;
}
#city1 {
	position: absolute;
	width: 100%;
	height: 416px;
	background: transparent url(../images/city1.png) 0 130px repeat-x;
}
#plane1 {
	position: absolute;
	width: 730px;
	height: 167px;
	background: transparent url(../images/planesprite4.png) 0 50px no-repeat;
}

